.content{
    padding: 200px;
}


@media (max-width: 576px) { 
    .hero{
        padding: 0;
        margin-top: 10vh;
    }
    .apply{
        width: 135px;
        font-size: 15px;
    }
    h4{
        font-size: 20px;
        width: 200px;
    }
    .hero_images{
        margin-top: -25px;
        border-radius: 70%;
        object-fit: contain;
    }
    
}
@media (min-width: 576px) and (max-width: 767px) {
    .hero{
        padding: 0;
        margin-top: 10vh;
        
    }
    .hero_images{
        margin-top: -10px;
        border-radius: 70%;
        object-fit: contain;
    }  
}
