/* General Styles for Card and Icons */
.card {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  color: #0a0808;
  padding: 20px;
  border-radius: 20%;
  text-align: left;
  margin: 30px 10px;
  width: 30%;
  max-height: 250px;
}

.icon {
  margin-bottom: 10px;
  width: 16%;
  text-align: center;
  padding: 10px;
  border-radius: 30%;
  background-color: #a69db83c;
}

.card-top, .card-top2 {
  height: auto;
  padding-bottom: 30px;
  background-image: url('../../assets/Images/cards_background.png');
  background-size: cover; 
  background-repeat: repeat;
  width: 100%;
}

h1 {
  padding-top: 40px;
}

.first-card, .last-card {
  margin-top: 100px;
}


.icon.number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 10px;
  position: relative;
}

.icon.number-box::before,
.icon.number-box::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.icon.number-box::before {
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid orange;
}

/* Responsive Styles */
@media (max-width: 786px) {
  .card {
    width: 100%;
    margin-left: 30px;
    min-height: 200px;
  }
}

@media (max-width: 575.98px) {
  .card {
    padding: 50px 20px;
    width: 85%;
    margin: 10px auto;
    min-height: 200px;
  }

  .custom-card .icon {
    font-size: 20px;
  }

  .card h3 {
    margin-top: 2vh;
  }

  .custom-card p {
    font-size: 0.9em;
  }
  .card-top{
    padding: 10vh 0;
  }
}
