.dashboard_body {
    overflow: hidden;
    padding: 0 1rem;

  }
.dash_img img{
    height: 90vh;
}
.dashboard_body p{
  font-size: 14px;
}
  
  @media (max-width: 576px) {
    .dashboard_body {
      margin-top: -17vh;

    }
    .dashboard_head{
        margin-top: 0%;
        padding: 0;
    }
    .dash_img{
        font-size:30px;
        margin-top: 10vh;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .dashboard_head{
        margin-top: -10vh;
    }
    .dashboard_body {
        margin-top: -10vh;
      }
}