.dashboard_body {
    overflow: hidden;
    padding: 0 1rem;

  }
  .dash_img{
    padding-top: 10px;
  }
.dash_img img{
    height: 70vh;

}
.dashboard_body p{
  font-size: 14px;
}
  
  @media (max-width: 576px) {
    .dashboard_body {
      margin-top: -10vh;

    }
    .dashboard_head{
        margin-top: -20%;
        padding: 0;
    }
    .dash_img{
        font-size:30px;
        padding-top: 0vh;
        padding-bottom: 20px;
    }
    .dash_img img{
      height: 40vh;
      
  }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .dashboard_head{
        margin-top: -10vh;
    }
    .dashboard_body {
        margin-top: -10vh;
      }
      .dash_img img{
        height: 60vh;
      }
}
@media only screen 
and (min-device-width: 414px) 
 {
  .dashboard_head{
    margin-top: -50px;
  }
  .dashboard_body {
    margin-top: -10vh;
  }
  
}