.footer-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-top-left-radius: 40px; 
  border-top-right-radius: 40px;
  height: 60vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.foot {
  padding: 40px;
  height: 90%;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.footer-container p {
  color: #ffffff;
  text-align: center;
}

.footer-logo {
  margin-top: -25vh;
  margin-left: 10vh;
  height: 20px;
}

.hyper-links {
  margin-right: auto;
}

@media (min-width: 768px) {
  .footer-logo {
    margin: 0 40px 110px 200px;
    height: 200px;
    width: 400px;
  }

  .hyper-links {
    padding-left: 50vh;
    text-align: left;
    margin-right: auto; 
  }
}


@media (max-width: 767px) {
  .footer-container {
    height: 60vh;
    padding: 15px;
  }

  .foot {
    height: 85%;
  }

  .footer-logo {
    margin: 10px 40px 0 50px;
    min-height: 20px;
    min-width: 200px;
  }

  .hyper-links {
    text-align: center;
    padding-left: 15vh;
  }
}

/* Small screens */
@media (max-width: 576px) {
  .footer-container {
    height: 50vh;
  }

  .foot {
    height: 80%;
  }

  .hyper-links {
    text-align: center;
    padding-left: 10vh;
    margin-top: 0;
    padding-top: 0;
  }
}

@media (min-device-width: 414px) {
  .footer-logo {
    margin: 0;
    padding: 0 0 10px 0;
  }

  .hyper-links h5 {
    font-size: 24px;
  }

  .hyper-links {
    margin: 0;
    padding: 0;
  }

  .footer-container {
    height: 40vh;
    
  }

  .foot {
    height: 85%;
  }
}
